.manage-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* Product Cart Responsive */
@media only screen and (max-width:576px) {
    .manage-product {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .manage-product {
        grid-template-columns: repeat(2, 1fr);
    }
}